generate_load_scripts: true
source https://www.nuget.org/api/v2/

nuget Giraffe.Razor
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Azure.Search
nuget WindowsAzure.Storage
nuget Fable.JsonConverter
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Elmish.HMR
nuget FSharp.Data
clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-fable

group Build
generate_load_scripts: true
source https://www.nuget.org/api/v2/
github CompositionalIT/fshelpers src/FsHelpers/ArmHelper/ArmHelper.fs
nuget Fake
