source https://www.nuget.org/api/v2/

nuget Giraffe.Razor
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.AspNetCore.Server.IISIntegration
nuget Microsoft.AspNetCore.Server.Kestrel
nuget Microsoft.AspNetCore.StaticFiles
nuget Microsoft.Extensions.Logging.Console
nuget Microsoft.Extensions.Logging.Debug
nuget Microsoft.Azure.Search
nuget WindowsAzure.Storage
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.PowerPack
nuget Fable.JsonConverter
clitool Microsoft.DotNet.Watcher.Tools
clitool dotnet-fable